header{
    background-color: rgba(219, 219, 219, 0.87);
    padding: 10px;
}
body{
    background-color: #eee;
}

a#img-logo img{
    width: 200px;
}
.search-box{
    padding: 6px;

}
.search-box input{
    width: 50%;
    border-style: inset;
    border: 0px;
    outline: none;
}
.search-icon{
    width: 70px;
    background-color: #4387fd;
}
.search-icon i{
    color: cornsilk;
    border: 0px;
}
button.search-icon{
    border: 0px;
}


/* BODY-MENU*/



.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
li{
    padding: 15px;
}
#entertaiment{
    background-color: #444;
}
#application{
    background-color: #689f38;
}
#film{
    background-color: #ed3b3b;
}
#book{
    background-color: #039be5;
}
/* .img-menu-entertaiment{
    background-color: #444;
    padding: 15px;
} */
.text-menu{
    color: ghostwhite;
    padding-left: 10px;
}
.img-menu{
    width: 30px;
}

/* BODY LIST */
.header-button{
    float: right;
    padding-top: 18px;
    background-color: rgba(92, 60, 199, 0.897);
    padding-top: 0px;
    padding: 3px;
    border-radius: 5px;
    color: cornsilk;
}
.header-text h2{
    display: inline-block;
}
.header-list{
    padding-top: 22px;
}

/* BODY ITEM */
.item-product{
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 20%);
}
.item-img span img{
    width: 99%;
}
.price{
    padding-top: 15px;
}
.price a{
    color: black;
}
.star{
    padding-top: 15px;
}
.item-detail{
    padding-top: 10px;
    padding-left: 15px;
}
.item-text a{
    color: black;
}
.item-text{
    font-weight: 500;
}
.price span a{
    color: rgba(184, 8, 8, 0.918);
}



/* Trang details 
. 
. Các mã Css của trang detail được viết tại đây !
.
*/

.detail-item-product{
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 20%);
    margin: 60px;
}
.similar-item-product{
    margin: 30px;
    margin-top: 60px;

}
.category-detail-item-product span a{
    float: left;
    text-decoration: none;
    color: cadetblue;
    font-size: large;
}